<div class="grid-form-agendamento">
    <input-text-component [(ngModel)]="form.values.titulo" 
                          [placeholder]="'Titulo da reunião'">
    </input-text-component>
    <div class="p-input-filled">
        <p-calendar [(ngModel)]="form.values.data" 
                    [minDate]="form.dataMin"
                    [showIcon]="true"
                    [showButtonBar]="true"
                    placeholder="Selecione a data"
                    dateFormat="dd-mm-yy"
                    [showTransitionOptions]="'150ms'" 
                    [hideTransitionOptions]="'150ms'">
        </p-calendar>
    </div>
    <div class="container-horarios">
        <div class="drop p-input-filled">
            <span>Inicio</span>
            <p-calendar [(ngModel)]="form.values.horaInicio" icon="pi pi-clock" 
                        [showIcon]="true" [timeOnly]="true" [hourFormat]="'24'">
            </p-calendar>
        </div>
        <div class="drop p-input-filled">
            <span>Fim</span>
            <p-calendar [(ngModel)]="form.values.horaFim" icon="pi pi-clock" 
                        [showIcon]="true" [timeOnly]="true" [hourFormat]="'24'">
            </p-calendar>
        </div>
    </div>
    <div class="local-qtd-pessoas">
        <div class="field p-input-filled">
            <p-dropdown [options]="locais" optionLabel="descricao" [(ngModel)]="form.values.local" placeholder="Local">
            </p-dropdown>
        </div>
        <div class="field p-input-filled">
            <p-inputNumber placeholder="num. pessoas" [(ngModel)]="form.values.quantidadePessoas"></p-inputNumber>
        </div>
    </div>
    <fieldset class="borda">
        <div class="container-opcoes-reuniao">
            <div class="opcao">
                <p-radioButton name="opReuniao" value="1" 
                               [(ngModel)]="form.values.opcaoReuniao!.id"
                               (ngModelChange)="form.setDescOpcao($event)">
                </p-radioButton>
                <span>Link Reunião</span>
            </div>
            <div class="opcao">
                <p-radioButton name="opReuniao" value="2" 
                                [(ngModel)]="form.values.opcaoReuniao!.id"
                                (ngModelChange)="form.setDescOpcao($event)">
                </p-radioButton>
                <span>Suporte TI</span>
            </div>
            <div class="opcao">
                <p-radioButton name="opReuniao" value="3" 
                                [(ngModel)]="form.values.opcaoReuniao!.id"
                                (ngModelChange)="form.setDescOpcao($event)">
                </p-radioButton>
                <span>Nenhum</span>
            </div>
        </div>
        <ng-container *ngIf="form.values.opcaoReuniao!.id == 1">
            <textarea placeholder="Informe aqui os dados da reunião. Link, senha etc..." [rows]="10"
                      [(ngModel)]="form.values.opcaoReuniao!.txtDetalhesReuniao"
                      [cols]="64" pInputTextarea></textarea>
        </ng-container>
    </fieldset>
    <div class="container-cooperagem">
        <p-checkbox [(ngModel)]="form.values.isCooperagem" [binary]="true"></p-checkbox>
        <span class="txt-cooperagem">Deseja serviço de cooperagem ?</span>
    </div>
    <div class="botoes">
        <button pButton pRipple type="button" label="Cancelar" id="cancelar" (click)="ref.close()"></button>
        <button pButton pRipple type="button" label="Salvar" class="primary" (click)="salvar()"></button>
    </div>
</div>