$cor-preto: #333333;
$cor-cinza: #98B2B6;
$cor-nao-selecionado: #5e6572;
$cor-purpura: #9B51E0;
$cor-azul: #2D9CDB;
$cor-roxo: #596ADA;
$cor-verde: #00D55C;
$cor-branca: #FFFFFF;
$cor-acao-botao: #ECF5F7;
$cor-vermelho: #EB5757;
$cor-laranja: #F39C12;
$cor-destaque: #00A190;
$cor-petroleo: #3A5D63;
$cor-fundo-principal: #e3e5e8;
$cor-linha-horizontal: #C4C4C4;
$cor-alternativa-tabela: #F0F0F0;