.grid-detalhar-page {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 84%;
    grid-template-areas: "hh"
                         "tr"
                         "ab";
}

.container-header {
    display: flex;
    align-items: center;
    grid-area: hh;
}

.container-table-reunioes {
    grid-area: tr;
}

.container-area-botoes {
    grid-area: ab;
}

.titulo-local {
    font-size: 18px;
    color: white;
}

:host ::ng-deep .p-button {
    width: 10%;
}