<span class="container-component p-input-filled">
    <input class="tam-input"
           [ngClass]="disabled ? 'disabled' : ''"
           [(ngModel)]="value" 
           [disabled]="disabled" 
           [maxlength]="maxLength"
           (keyup.enter)="pesquisar()" 
           type="text"
           [placeholder]="placeholder" pInputText>
    <ng-container [ngTemplateOutlet]="templateStringLength ? templateStringLength : templateStringLengthDefault">
    </ng-container>
    <ng-container [ngTemplateOutlet]="templateClearButton ? templateClearButton : templateClearButtonDefault"
                  [ngTemplateOutletContext] ="{disabled, value}">
    </ng-container>
</span>

<ng-template #templateStringLengthDefault>
    <div [ngClass]="showClearButton ? 'container-contador' : 'container-contador-sozinho'">
         <span>{{maxLength - value?.length}}</span>
    </div>
</ng-template>

<ng-template #templateClearButtonDefault>
    <i class="icone"
        *ngIf="!disabled && showClearButton"
        [ngClass]="value ? 'pi pi-times-circle' : ''"
        (click)="value = undefined">
    </i>
</ng-template>