/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 
                 Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, 
                 Segoe UI Emoji, Segoe UI Symbol;
}

.area-conteudo-pagina {
    display: flex; 
    // padding: 0px 2%;
    flex-direction: column;
    height: 90vh;
}

.margin-card {
    margin: 20px;
}

.ellipsis {
    word-break: break-word;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

:host ::ng-deep {
    .p-card {
        word-break: break-word;
        min-height: 5rem;
        .p-card-body {
            .p-card-content {
                padding: 0px !important;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightblue;
    border-radius: 5px;
    border: 1px solid rgb(150, 150, 150);
}
 
::-webkit-scrollbar-thumb {
    background: #5068c5;
    border-radius: 5px;
}