<div class="container-card-reuniao">
    <div class="conteudo">
        <div class="area-titulo">
            <span class="ellipsis">{{local.descricao}}</span>
        </div>
        <div class="area-informacoes">
            <span>{{local.qtdAgendamentos! | reuniao}}</span>
        </div>
        <div class="area-acoes">
            <button pButton pRipple type="button" label="ver reuniões" 
                    class="p-button-outlined p-button-help"
                    (click)="detalhar(local.id)">
            </button>
        </div>
    </div>
</div>