.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;

    .titulo {
        font-size: 28px;
    }

    .add-reuniao {
        display: flex;
    }

}

::ng-deep .p-button {
    background-color: #5068c5;
    color: white;
}

::ng-deep .p-button:enabled:hover {
    background-color: #5068c5;
    color: white;
}

::ng-deep .p-button:enabled:focus {
    background-color: #5068c5;
    color: white;
}