.grid-list-page {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 92%;
    grid-template-areas: "hh"
                         "pc";
}

.container-header {
    grid-area: hh;
}

.container-painel-cards {
    grid-area: pc;
}